<mat-card>
    <mat-card-header>
        <mat-card-title>Products</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ng-container *ngIf="!loading">
            <ng-container *ngIf="products && products.length > 0; else noProducts">
                <div fxLayout="row wrap" fxFlexFill fxLayoutAlign="start start" fxLayoutGap="30px">
                    <mat-card class="product-item" *ngFor="let product of products">
                        <mat-card-header>
                            <mat-card-title>{{ product.name }}</mat-card-title>
                            <mat-card-subtitle>{{ product.price | currency:'EUR' }}</mat-card-subtitle>
                        </mat-card-header>
    
                        <mat-card-content>
                            <p>{{ product.description }}</p>

                            <div *ngIf="checkShoppingCart(product) > 0">
                                Amount in cart: {{ checkShoppingCart(product) }}
                            </div>
                        </mat-card-content>

                        <mat-card-actions>
                            <button *ngIf="checkShoppingCart(product) > 0" mat-flat-button color="primary" (click)="addToShoppingCart(product)">Update amount</button>
                            <button *ngIf="checkShoppingCart(product) === 0" mat-flat-button color="primary" (click)="addToShoppingCart(product)">Add to cart</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </ng-container>
    
            <ng-template #noProducts>
                <h3>No products found</h3>
            </ng-template>
        </ng-container>
    
        <ng-container *ngIf="loading">
            <div fxLayout="column" fxLayoutGap="40px">
                <div fxLayout="row" fxLayoutAlign="center">
                    <mat-spinner></mat-spinner>
                </div>
    
                <h3 fxLayout="row" fxLayoutAlign="center">Loading products</h3>
            </div>
        </ng-container>
    </mat-card-content>
</mat-card>