<h1 mat-dialog-title>Shoppingcart</h1>
<div mat-dialog-content>
  <ng-container *ngIf="items.length === 0">
    <p>There are no products in the shopping cart.</p>
  </ng-container>

  <ng-container *ngIf="items.length > 0">
    <p>Products in cart:</p>
    <mat-list>
      <mat-list-item *ngFor="let item of items; let indexItem = index">
          <div mat-line>{{ item.product.name }}</div>
          <div>{{ item.amount }}</div>
      </mat-list-item>
    </mat-list>

    <p>Price: {{ totalAmount | currency:'EUR' }}</p>
  </ng-container>

</div>
<div mat-dialog-actions>
  <button *ngIf="items.length > 0" mat-flat-button color="primary" (click)="onNoClick()">Order</button>
  <button *ngIf="items.length > 0" mat-button color="primary" (click)="onNoClick()">Close</button>
  <button *ngIf="items.length === 0" mat-flat-button color="primary" (click)="onNoClick()">Close</button>
</div>
